.footer {
  display: none;
  justify-content: space-evenly;
  background-color: var(--section-bg-color);
  color: var(--section-text-color);
  width: 100%;
  padding: 20px;
  margin: 10px 0px;
  box-shadow: 1px 1px 2px 1px var(--section-shadow-color);
}
.footer--showButtons {
  display: flex;
}
@media (max-width: 459px) {
  .footer {
    flex-wrap: wrap;
  }
}
.footer__button {
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  transition: background-color 0.4s;
  transition: color 0.4s;
  padding: 10px 20px;
  color: #ffffff;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 10px;
  transition: transform 0.1s;
}
.footer__button--doneAllButton {
  background-color: var(--doneButton--color);
  border-radius: 5px;
}
.footer__button--doneAllButton:disabled {
  background-color: #ccc;
  border-radius: 5px;
  cursor: default;
}
.footer__button--hideDoneButton {
  background-color: var(--doneButton--color);
  border-radius: 5px;
}
.footer__button--removeAllButton {
  background-color: var(--removeButton--color);
  border-radius: 5px;
}
.footer__button--doneAllButton:active,
.footer__button--hideDoneButton:active,
.footer__button--removeAllButton:active {
  transform: scale(0.9);
}
